body
{
	background-image: url('../img/giphy.gif'); 
}

#start 
{
	height: 150px;
	width:150px;
	font-family: "Hacked";
	background-color: transparent;
	border-color: transparent;
	color: white;
	font-size: 3em;
	text-align: center;
	z-index: 2;
	outline: none;
	left: 32.5%;
	top: 33%;
	position:absolute;
}

#gameOver
{
	background-color: black;
	font-family: "Hacked";
	font-size: 16em;
	z-index: 3;
	color: white;
	position: fixed;
	margin-left: 80px;
	margin-top: 172px;
	visibility: hidden;
}

.fadeIn{
	animation: fadeIn;
	animation-duration: 9s;
}

@keyframes fadeIn{
	0%{
		visibility: visible;
		opacity: 0;
	}
	95%{
		visibility: visible;
		opacity: 1;
	}
	100%{
		visibility: hidden;
	}
}

#round
{
	height: 100px;
	width: 300px;
	font-size: 4em;
	color: white;
	z-index: 4;
	margin: auto;
	font-family: "Hacked";
}

.gameContainer
{
	width: 395px;
	height: 395px;
	background-color: none;
	z-index: 1;
	border-radius: 15px;
	margin: 0 27%;
	
	margin-top: 60px;
	position: absolute;
	top: 20%;
	left: 3%;
}

.arrowButtons
{
	width: 125px;
	height: 125px;
	background-color: transparent;
	border: 2px solid white;
	position: relative;
	border-radius: 15px;
	display: inline-block;
}

#topButton
{
	height: 125px;
	width: 125px;
	background-image: url('../img/ddrUp.png');
	box-shadow: 10px 10px 5px blue;
}

#rightButton
{
	background-image: url('../img/ddrRight.png');
		box-shadow: 10px 10px 5px yellow;
}

#downButton
{
	background-image: url('../img/ddrDown.png');
	box-shadow: 10px 10px 5px green;
}

#leftButton
{	
	background-image: url('../img/ddrLeft.png');
	box-shadow: 10px 10px 5px red;
}

.rotated 
{ 
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

@media (max-width: 941px) {
	.gameContainer{
		position: absolute;
		left: 33%;
	}
}

@media (max-width: 750px) {
	.gameContainer{
		position: absolute;
		left: 5%;
	}
}

@media (max-width: 700px) {
	.gameContainer{
		position: absolute;
		left: 5%;
	}
}

@media (max-width: 420px) {
	.gameContainer{
		position: absolute;
		left: -16%;
	}
}
@media (max-width: 400px) {
	.gameContainer{
		position: absolute;
		left: -30%;
	}
}