body
{
	background-image: url('../img/giphy.gif'); 




}

.gameContainer
{
	width: 395px;
	height: 395px;
	background-color: transparent;
	border-radius: 15px;
	margin: auto 0;
	margin-left: 400px;
	margin-top: 118px;
	/*position: absolute;*/
}

.arrowButtons
{
	width: 125px;
	height: 125px;
	background-color: transparent;
	border: 2px solid white;
	position: relative;
	border-radius: 15px;
	display: inline-block;
	box-shadow: 10px 10px 5px #2F1847;
}

#topButton
{
	height: 125px;
	width: 125px;
	background-image: url('../img/ddrUp.png');

}

#rightButton
{
	background-image: url('../img/ddrRight.png');
}

#downButton
{
	background-image: url('../img/ddrDown.png');	
		
}

#leftButton
{	
	background-image: url('../img/ddrLeft.png');

}

.rotated { 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*//$('#rotate').click(function(){
    $(this).toggleClass('rotated');
});*/

.center 
{
	

}